

{% extends "layout.html" %}
{% block content %}

<!-- Jumbotron -->
<div class="container-fluid">
<div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-12 col-l-6 col-xl-3">
        <img src="{{ url_for('static', filename='./icons/' + 'Presentatie.jpg')}}", class="headshot">
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-l-6 col-xl-9">
        <p> My name is Rens Schipper. I'm an aspiring data-scientist from the Netherlands. This website contains some of my personal projects and summarises my technical skills, work experience and education.</p>
        <p> I've been programming since 2018 in various languages with a focus on Python. After finishing my Master's degree in Accounting and Financial control I joined a Busines Analytics traineeship and worked as a BA consultant for 2 years.</p>
        <p> During the traineeship I received technical trainings in numerous languages, machine learning and analytical tools. After finishing the traineeship I also followed a separate Python class at the University of Amsterdam and an advanced Python training with AT Computing.</p>
        <p> In my role as BA Consultant I ended up in the regulatory reporting department of ABN AMRO. After one year I joined the company and was responsible for the BASEL III reporting infrastucture used for the reporting to the European Central Bank. Furthermore, I replaced the internal reporting infrastructure with Power BI.</p>
        <p> I thorougly enjoyed my role there but quit to fullfill a longtime dream of time to travel Latin America for a year. I've spent the year traveling through 17 countries whilst learning Spanish and improving my Data Science skills.</p>
    </div>
</div>
</div>    

<!-- Skills header -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">My skills</h1>
    </div>
    
    <hr>
    
    <div class="col-12">
        <p class="lead">The following are the programming languages and software packages I know and my level of proficiency.</p>
    </div>  
</div>
</div>

<!--- Skills section --->
<div class="container-fluid padding">
<div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img class="icon" src="{{ url_for('static', filename='./icons/' + 'icon_python.png')}}">
        <h3>Python3</h3>
        <p>This is the main language I work in since 2018. Most of the projects on this website are written in Python, even this website.</p>
    </div>
  
      <div class="col-xs-12 col-sm-6 col-md-4">
          <img class="wide_icon" src="{{ url_for('static', filename='./icons/' + 'icon_power_bi.png')}}">
          <h3>Power BI</h3>
          <p>This is the main dashboarding I've used for 3 years. I've followed and completed multiple trainings an gave trainings myself. I've done multiple projects with Power BI and was responsible for many dashboard during my work at ABN AMRO.</p>
      </div>
  
      <div class="col-xs-12 col-sm-6 col-md-4">
          <img class="icon" src="{{ url_for('static', filename='./icons/' + 'tableau.png')}}">
          <h3>Tableau</h3>
          <p> I've done one project with Tableau for the company Lely when I was a Business Analytics consultant. The content is covered by NDA vut you can see the part of the final porduct in my profile pciture on Business Aanlytics masterclass event with Conquaestor.</p>
      </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img class="icon" src="{{ url_for('static', filename='./icons/' + 'msql.svg')}}">
        <h3>SQL</h3>
        <p>Basic profiency, setting up and maintaining databases containing risk data for connected Power BI dashboards.</p>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img class="icon" src="{{ url_for('static', filename='./icons/' + 'icon_html.png')}}">
        <h3>HTML5</h3>
        <p>Basic profiency, my main focus is data-science not web development but his website was partly made with HTML5</p>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
        <img class="icon" src="{{ url_for('static', filename='./icons/' + 'gitlogo.png')}}">
        <h3>GIT</h3>
        <p>Basic profiency, I've used GIT for version control on my projects (like this website) which you can find on my <a href = "https://github.com/Rens-Schipper">github</a>.</p>
    </div>
    
</div>
<hr class="my-4">

<!-- Work experience -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">Work experience</h1>
    </div>
    
    <hr>
    
    <div class="col-12">
        <p class="lead">Relevent work experience and responsiblities.</p>
    </div>  
</div>
</div>

<div class="container-fluid padding">
<div class="row text-center padding">

    <div class="col-xs-12 col-sm-12 col-md-6 padding">
        <img class="icon" src="{{ url_for('static', filename='./icons/' + 'abn_logo.png')}}">
        <h3>ABN AMRO</h3>
        <h3>Regulatory Reporting Analyst</h3>
        <p>2020-2022</p>
        <hr class="my-4">
        <p>I started at ABN AMRO as a BA consultant with Conquaestor beginning with supporting the quarterly reporting process to the European Central Bank. During this time I simplified and improved the reporting process for regulatory data and focused modernizing and optimizing the data flow</p>
        <p>To upgrade the internal risk reporting processes I implemented and maintained many Power BI dashboards and initiated some dashboards to share data quality problems bank wide. After one year as a BA Consultant I joined ABN AMRO full time as an Analyst.</p>
        <p>In the end I was responsible for all my departments Databases and Dashboards and was involved with Data quality and Analytics project throughout the bank. I thoroughly enjoyed my time with ABN AMRO but decided to quit to travel Latin America for a year and increase my focus on Data Science.</p>


    </div>
  
      <div class="col-xs-12 col-sm-12 col-md-6 padding">
          <img class="icon" src="{{ url_for('static', filename='./icons/' + 'conquestor.png')}}">
        <h3>Conquaestor</h3>
        <h3>Business Analytics Consultant</h3>
        <p>2019-2021</p>
        <hr class="my-4">
        <p>With Conquaestor I followed their Business Analytics traineeship, I received technical trainings in Python, R, SQL, Power BI, UI Path and Machine Learning as well as a soft skills development program.</p>
        <p>I primarily worked on Analytics projects that upgraded excel based reporting to Power BI and Tableau dashboards. Furthermore I've worked on several process automations with both Python and UI Path whenever I saw the opportunity</p>
        <p>After getting a good technical basis and seeing how Business Analytics work in real companies I joined ABN AMRO full time.</p>
      </div>
  

    
</div>
<hr class="my-4">
</div>

<!-- Degrees header -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">My degrees</h1>
    </div>
    
    <hr>
    
    <div class="col-12">
        <p class="lead">The following are my university qualifications and the institution where I graduated.</p>
    </div>  
</div>
</div>


<div class="container-fluid padding">
<div class="row text-center padding">
    <div class="col-xs-12 col-sm-12 col-md-6 padding">
        <img class="uva_icon" src="{{ url_for('static', filename='./icons/' + 'icon_uva.png')}}">
        <h3>Masters degree</h3>
        <h3>Accountancy and Control</h3>
        <h3>University of Amsterdam</h3>
        <p>2018-2019</p>
    </div>
  
      <div class="col-xs-12 col-sm-12 col-md-6 padding">
        <img class="uni_icon" src="{{ url_for('static', filename='./icons/' + 'icon_hva.png')}}">
        <h3>Bachelors degree</h3>
        <h3>Bedrijfseconomie</h3>
        <h3>Hogeschool van Amsterdam</h3>
        <p>2011-2015</p>
      </div>
  

    
</div>
<hr class="my-4">

</div>

{% endblock content %} 